.contain{
    width: 80%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0% auto;
}
.heading{
    font-size: 50px;
    color: #ab956c;
}
.message{
    font-weight: 300;
}