.sliderContainer {
  position: relative;
  width: 100%;
  height: 537px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation Buttons */
.nextButton,
.prevButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
opacity: 0;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

/* Dots Navigation */
.dotsContainer {
  position: absolute;
  bottom: 1rem;
  right: 2em;
  display: flex;
  gap: 0.5rem;
}

.dot,
.activeDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.activeDot {
  background-color: #333;
}
